# ========================
# ENV FILES (IMPORTANT)
# ========================
.env
.env.local
.env.*.local

# ========================
# BACKEND (SPRING BOOT)
# ========================
*.class
target/
build/

# Logs
*.log

# ========================
# FRONTEND (REACT)
# ========================
node_modules/
build/
dist/

# ========================
# IDE FILES
# ========================
.vscode/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# PACKAGE FILES
# ========================
*.jar
*.war
*.zip
*.tar.gz